<div
  #desktop
  class="desktop"
  (click)="onDesktopClick($event)"
  (contextmenu)="onDesktopRightClick($event)"
>
  <!-- Desktop Icons -->
  @for (icon of desktopIcons; track icon.id) {
    <app-desktop-icon
      [icon]="icon"
      [selected]="selectedIconId === icon.id"
      [theme]="currentTheme"
      (iconClick)="onIconClick(icon)"
      (iconDoubleClick)="onIconDoubleClick(icon)"
      (iconRightClick)="onIconRightClick($event)"
    ></app-desktop-icon>
  }

  <!-- Windows -->
  @for (window of windows; track window.id) {
    <app-window [instance]="window" [theme]="currentTheme"></app-window>
  }

  <!-- Dialogs -->
  @for (dialog of dialogs; track dialog.id) {
    <app-dialog [instance]="dialog"></app-dialog>
  }

  <app-win98-basic-dialog></app-win98-basic-dialog>

  <!--  &lt;!&ndash; Context Menu &ndash;&gt;-->
  <!--  <app-context-menu-->
  <!--    [x]="contextMenuX"-->
  <!--    [y]="contextMenuY"-->
  <!--    [visible]="contextMenuVisible"-->
  <!--    (createNewFolder)="onCreateNewFolder()"-->
  <!--    (changeTheme)="onChangeTheme()"-->
  <!--  ></app-context-menu>-->

  <!-- Taskbar -->
  <app-taskbar [windows]="windows" [theme]="currentTheme"></app-taskbar>
</div>

<!-- Screen Saver Component -->
<app-win98-screen-saver
  (screenSaverActivated)="onScreenSaverActivated()"
  (screenSaverDeactivated)="onScreenSaverDeactivated()">
</app-win98-screen-saver>

<!--Clippy Component-->
<app-clippy>

</app-clippy>

